.landing-page {
 display: flex;
 grid-template-areas:
  "nav nav"
  "me activity"
  "testimonials activity";
 margin: 20px 0;
}

.me-container {
 grid-area: me;
 display: flex;
 justify-content: center;
 width: 75%;
}

.me-container > .slideshow {
 margin: 0 0 0 20px;
}