* {
 color: black;
}

nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 70px;
 grid-area: nav;
}

h1 > a {
 font-size: 2rem;
 margin: 0;
 text-decoration: none;
}

h1 > a:hover {
 opacity: 75%;
}

.navLinks {
 display: flex;
 justify-content: space-around;
 list-style-type: none;
 padding: 0;
}

.navLinks li > a {
 text-decoration: none;
 font-size: 1.2em;
 margin: 0 15px;
}

.navLinks li > a:hover {
 opacity: 75%;
}