.page {
 margin: 20px 40px;
}

.sectionName {
 transition: 0.5s;
}

.sectionName:hover {
 cursor: pointer;
 opacity: 50%;
 transform: scale(1.1);
 text-decoration: underline;
}


.entryContainer {
 margin-bottom: 10px;
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
 background-color: whitesmoke;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.entryContainer:hover {
 transform: translateY(-5px);
 transition: 0.5s ease-in-out;
}

.entryThumbnail {
 width: 320px;
 height: 180px;
}

.entryContent {
 margin-left: 10px;
}

.entryLinks {
 list-style-type: none;
 padding: 0;
 display: flex;
}

.entryLinks li {
 margin-left: 10px;
}